body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body table {
  margin: 20px 0px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  align-items: center;
}
.button-container button {
  margin: 5px 10px;
  width: 100px;
  height: 100px;
  font-size: 28px;
  border: none;
  background: none;
}

.button-container button:hover {
  border: 2px solid grey;
  border-radius: 50px;
  cursor: pointer;
}

ul {
  font-size: 12px;
}

table,
tr,
td {
  border-collapse: collapse;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}
