.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top input,
.top button {
  margin: 0px 10px;
}

.outputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 17px;
  font-weight: 600;
}

.outputDiv button {
  margin-left: 20px;
}
.outputDiv p {
  margin-right: 20px;
}

#delete {
  background-color: red;
  color: white;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: none;
  border-radius: 15px;
  width: 100px;
}

#add {
  background-color: green;
  color: white;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: none;
  border-radius: 15px;
  width: 100px;
}
