.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top input,
.top button {
  margin: 0px 10px;
}

.outputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
  border-radius: 20px;
  padding: 0 20px;
}

.outputDiv button {
  margin-left: 20px;
}
.outputDiv p {
  margin-right: 20px;
}

#delete {
  background-color: red;
  color: white;
  padding: 10px;
}

#add {
  background-color: green;
  color: white;
  padding: 10px;
}
